package/
__pycache__
*.pyc
.DS_Store
*/__pycache__/
*/.ipynb_checkpoints/
*/.vscode/
*/.idea/
*/.pytest_cache/
*/.mypy_cache/
*/.mypy/
*/.coverage
*/.DS_Store
supervisord.log
supervisord.pid
.env.local
allonode-data/config.json
allonode-data*/.env
src/data/sets/*
fingerprint.py
src/endpoints/inference.withinputs.py
